{# The message column: the send composer appends new turns here (beforeend). #}
<div id="bridge-thread" class="thread-scroll" role="log" aria-label="Conversation"
     data-fragment="bridge.thread" x-data="autoscroll">
  {% for turn in turns %}
    {% if turn.role == 'user' %}
      {% include 'bridge/turn_user.html.j2' %}
    {% else %}
      {% include 'bridge/turn_agent.html.j2' %}
    {% endif %}
  {% endfor %}
</div>
