#!/bin/bash
set -e

echo "💀 [LychD] Performing the Initialization Ritual..."

psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL CREATE EXTENSION IF NOT EXISTS
    vector; {% for db in databases %} CREATE DATABASE {{ db }}; {% endfor %} EOSQL
