[Unit]
Description={{ description }}

[Pod]
PodName={{ pod_name }}
{% if user_ns %}
UserNS={{ user_ns }}
{% endif %}
{% if shm_size %}
ShmSize={{ shm_size }}
{% endif %}

# Network exposure
{% for port_mapping in publish_ports %}
PublishPort={{ port_mapping }}
{% endfor %}

[Install]
{% if wanted_by %}WantedBy={{ wanted_by | join(' ') }}{% endif %}
